<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>DTP-ELK-Installer installs the ELK Tool on the target host&#xd;
# Pass ELK target hostname and target software location to the ELK Jenkins build job.&#xd;
&#xd;
Steps for Installing ELK Tool:&#xd;
(1) Copies files from&#xd;
      /var/lib/jenkins/Tools/ELK/*&#xd;
      /opt/DataTachyonPlatform/presentationlayer/      &#xd;
     on jenkins VM to /home/dtpuser on ELK VM&#xd;
(2) Runs elk_remote_installation.sh on EK VM&#xd;
&#xd;
Before running job ...&#xd;
(1) Create the users dtpuser and spark on ELK VM&#xd;
(2) Add exception to sudoers file for the users dtpuser&#xd;
(3) Copy the public key of jenkins user on jenkins VM to dtpuser on ELK VM&#xd;
&#xd;
After running job ...&#xd;
(1) Remove exception from sudoers file for the users dtpuser. </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.9"/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>2</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <org.jenkinsci.plugins.gogs.GogsProjectProperty plugin="gogs-webhook@1.0.15">
      <gogsSecret>{AQAAABAAAAAQeZNrUVWv6G1R4XskMeZ45Fx4spe8CJ8ZiUgGC2/+wmA=}</gogsSecret>
      <gogsUsePayload>false</gogsUsePayload>
      <gogsBranchFilter></gogsBranchFilter>
    </org.jenkinsci.plugins.gogs.GogsProjectProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_USERNAME</name>
          <description></description>
          <defaultValue>dtpuser</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_IP_ADDRESS</name>
          <description></description>
          <defaultValue>JP-DTP-ELK-VM</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SOURCE_SOFTWARE_LOCATION</name>
          <description></description>
          <defaultValue>/opt/Tools/ELK</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_SOFTWARE_LOCATION</name>
          <description></description>
          <defaultValue>/home/dtpuser</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>INSTALLATION_FILES_TO_RUN</name>
          <description></description>
          <defaultValue>/opt/DataTachyonPlatform/presentationlayer/ElasticSearch_Kibana_Logstash/scripts/install_elk.sh</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVICE_FILES_TO_RUN</name>
          <description></description>
          <defaultValue>/opt/DataTachyonPlatform/presentationlayer/ElasticSearch_Kibana_Logstash/scripts/*.service</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
whoami &amp;&amp; hostname &amp;&amp; pwd

echo &quot;Running SCP to transfer file to Remote Server:&quot;$TARGET_USERNAME@$TARGET_IP_ADDRESS

#scp -v /var/lib/jenkins/Tools/nifi-1.9.2-bin.zip azureadmin@JP-DTP-NIFI-VM:/home/azureadmin

scp -r $SOURCE_SOFTWARE_LOCATION $TARGET_USERNAME@$TARGET_IP_ADDRESS:$TARGET_SOFTWARE_LOCATION
scp -r $INSTALLATION_FILES_TO_RUN  $TARGET_USERNAME@$TARGET_IP_ADDRESS:$TARGET_SOFTWARE_LOCATION/ELK
scp -r $SERVICE_FILES_TO_RUN  $TARGET_USERNAME@$TARGET_IP_ADDRESS:$TARGET_SOFTWARE_LOCATION/ELK
</command>
    </hudson.tasks.Shell>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.20.1">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate plugin="publish-over@0.22">
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher plugin="publish-over-ssh@1.20.1">
              <configName>dtpuser@JP-DTP-ELK-VM</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles>*</sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>whoami &amp;&amp; pwd &amp;&amp; hostname
sudo chmod 775 -R /home/dtpuser/ELK
cd /home/dtpuser/ELK
echo &quot;Installing ELK on Remote sever &quot;
ls -latr &amp;&amp; ./install_elk.sh
</execCommand>
                  <execTimeout>6000000</execTimeout>
                  <usePty>false</usePty>
                  <useAgentForwarding>false</useAgentForwarding>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>