[Unit]
Description=Elasticsearch systemd service
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
After=systemd-user-sessions.service
Requires=network-online.target

[Service]
Type=forking
User=dtpuser
Group=dtpuser
WorkingDirectory=/opt/elk/elasticsearch
ExecStart=/opt/elk/elasticsearch/runelasticsearch.sh
TimeoutSec=30
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target