[Unit]
Description=Elasticsearch service

[Service]
Type=simple
User=dtpuser
Group=dtpuser
WorkingDirectory=/opt/elk/elasticsearch
ExecStart=/opt/elk/elasticsearch/bin/elasticsearch -d -p pid
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
