[Unit]
Description=Kibana systemd service
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
After=systemd-user-sessions.servicei elasticsearch.service
Requires=network-online.target

[Service]
Type=forking
User=dtpuser
Group=dtpuser
WorkingDirectory=/opt/elk/kibana
ExecStart=/opt/elk/kibana/runkibana.sh
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
