[Unit]
Description=Logstash service

[Service]
Type=simple
User=dtpuser
Group=dtpuser
WorkingDirectory=/opt/elk/logstash-7.2.0
ExecStart=/opt/elk/logstash-7.2.0/bin/logstash -e 'input { stdin { } } output { stdout {} }'
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
