[Unit]
Description=Hadoop systemd service
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
After=systemd-user-sessions.service
Requires=network-online.target

[Service]
Type=forking
User=hadoop
Group=hadoop
WorkingDirectory=/opt/hadoop
ExecStart=/opt/hadoop/sbin/start-dfs.sh
TimeoutSec=30
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
