[Unit]
Description=Hue systemd service

[Service]
Type=simple
User=hadoop
Group=hadoop
WorkingDirectory=/opt/hue
ExecStart=/opt/hue/build/env/bin/hue runcpserver
SyslogIdentifier=hue
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
