<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.190.1</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy">
    <denyAnonymousReadAccess>true</denyAnonymousReadAccess>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>DTP-Installer</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>DTP-AI-DeepLearning-Installer</string>
        <string>DTP-AI-MachineLearning-Installer</string>
        <string>DTP-AI-Pytorch-Installer</string>
        <string>DTP-AI-Tensorflow-Installer</string>
        <string>DTP-BusinessAI-Installer</string>
        <string>DTP-ELK-Installer</string>
        <string>DTP-Hadoop-Datanode-One-Installer</string>
        <string>DTP-Hadoop-Datanode-Two-Installer</string>
        <string>DTP-Hadoop-Namenode-Installer</string>
        <string>DTP-Hadoop-SecNamenode-Installer</string>
        <string>DTP-Hive-Installer</string>
        <string>DTP-Hue-Installer</string>
        <string>DTP-Jupyter-Installer</string>
        <string>DTP-Liferay-Installer</string>
        <string>DTP-Nifi-Installer</string>
        <string>DTP-Spark-Master-Installer</string>
        <string>DTP-Spark-Worker-Installer</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>DTP-Uninstaller</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>DTP-BusinessAI-Uninstaller</string>
        <string>DTP-ELK-Uninstaller</string>
        <string>DTP-Hadoop-Datanode-One-Uninstaller</string>
        <string>DTP-Hadoop-Datanode-Two-Uninstaller</string>
        <string>DTP-Hadoop-Namenode-Uninstaller</string>
        <string>DTP-Hadoop-SecNamenode-Uninstaller</string>
        <string>DTP-Hive-Uninstaller</string>
        <string>DTP-Hue-Uninstaller</string>
        <string>DTP-Jupyter-Uninstaller</string>
        <string>DTP-Liferay-Uninstaller</string>
        <string>DTP-Nifi-Uninstaller</string>
        <string>DTP-Spark-Master-Uninstaller</string>
        <string>DTP-Spark-Worker-Uninstaller</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Utils</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>JP-DTP-NIFI-VM-HC</string>
        <string>TestScp</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>DTP-Starter</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Start-DTP-Nifi</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>DTP-Demo</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[4]/jobNames/comparator"/>
        <string>NifiDataIngestionToHdfsLanding</string>
        <string>TensorBoardGradientMnistDemo</string>
        <string>Tensorflow2MnistDemo</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>