[Unit]
Description=Nifi systemd service
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
After=systemd-user-sessions.service
Requires=network-online.target

[Service]
Type=forking
User=hadoop
Group=hadoop
WorkingDirectory=/opt/nifi
ExecStart=/opt/nifi/bin/nifi.sh start
ExecStop=/opt/nifi/bin/nifi.sh stop
TimeoutSec=90
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
