<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description># Pass spark worker hostname and IP address to the Spark master Jenkins build job, to add to slaves file.&#xd;
&#xd;
Installs spark master ...&#xd;
(1) Copies files from /var/lib/jenkins/workspace/DTP-Spark-Master-Installer on jenkins VM to /home/dtpuser on spark master VM&#xd;
(2) Runs install_spark_master.sh on spark master VM&#xd;
(3) Removes installation scripts/files from /home/dtpuser on spark master VM&#xd;
&#xd;
Before running job ...&#xd;
(1) Create the users dtpuser and spark on spark master VM&#xd;
(2) Add exception to sudoers file for the users dtpuser and spark&#xd;
(3) Copy the public key of jenkins user on jenkins VM to dtpuser on spark master VM&#xd;
&#xd;
After running job ...&#xd;
(1) Remove exception from sudoers file for the users dtpuser and spark&#xd;
(2) Enable passwordless ssh between the spark users on spark master and spark worker VM&apos;s</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.9"/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>4</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <org.jenkinsci.plugins.gogs.GogsProjectProperty plugin="gogs-webhook@1.0.15">
      <gogsSecret>{AQAAABAAAAAQzx3IoUUmFE1vUC2X6DxMyDZAncH3snXLJUGmOccGw0g=}</gogsSecret>
      <gogsUsePayload>false</gogsUsePayload>
      <gogsBranchFilter></gogsBranchFilter>
    </org.jenkinsci.plugins.gogs.GogsProjectProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>HADOOP_SNN_IP</name>
          <description></description>
          <defaultValue>104.211.159.140</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>HADOOP_SNN_NAME</name>
          <description></description>
          <defaultValue>JP-DTP-HADOOP-SN-VM</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>HADOOP_DN1_IP</name>
          <description></description>
          <defaultValue>104.211.163.229</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>HADOOP_DN1_NAME</name>
          <description></description>
          <defaultValue>JP-DTP-HADOOP-DN1-VM</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>HADOOP_DN2_IP</name>
          <description></description>
          <defaultValue>104.211.153.137</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>HADOOP_DN2_NAME</name>
          <description></description>
          <defaultValue>JP-DTP-HADOOP-DN2-VM</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.20.1">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate plugin="publish-over@0.22">
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher plugin="publish-over-ssh@1.20.1">
              <configName>hadoop@JP-DTP-HADOOP-NM-VM</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles>*</sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>echo &quot;*** Finished copying uninstallation files ***&quot;
echo &quot;*** Running uninstallation script ***&quot;
chmod 775 uninstall_hadoop_namenode.sh
./uninstall_hadoop_namenode.sh $HADOOP_SNN_IP $HADOOP_SNN_NAME $HADOOP_DN1_IP $HADOOP_DN1_NAME $HADOOP_DN2_IP $HADOOP_DN2_NAME
echo &quot;*** Removing uninstallation files ***&quot;
rm uninstall_hadoop_namenode.sh</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                  <useAgentForwarding>false</useAgentForwarding>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>