[Unit]
Description=Tensorboard systemd service
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
After=systemd-user-sessions.service
Requires=network-online.target

[Service]
Type=forking
User=hadoop
Group=hadoop
WorkingDirectory=/opt/DataTachyonPlatform/businesslayer/ai/deep-learning/tensorboard/scripts
ExecStart=python3 /usr/local/lib/python3.6/dist-packages/tensorboard/main.py --logdir  /opt/DataTachyonPlatform/businesslayer/ai/deep-learning/tensorboard/scripts/logs/gradient_tape &
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
